:root {
  --main_color: #ebebeb;
  --secondary_color: #1e3a8a;
}

/* RESET BOX-SIZING POUR ÉVITER DÉBORDEMENTS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    background-color: #f6f6f6;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* EADER FLEX CONTAINER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
    background: #1E3A8A;
    position: fixed; /* fixe le header en haut */
    top: 0;
    width: 100%;
    z-index: 1000; /* reste au-dessus du contenu */
}

/* LOGO */
.logo {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    transition: transform 0.3s ease; /* transition sur l'état normal */
}

.logo:hover {
    transform: scale(1.1);
}

/* NAV LINKS */
nav {
    display: flex;
    gap: 1em; /* remplace margin pour espacement uniforme */
    align-items: center;
    justify-content: space-between;
}

nav a{
  position: relative;
  margin:0 30px;
  text-decoration: none;
  color:  #ffffff; /* adapte si besoin */
  padding-bottom: 5px;
}

.nav-links1 a::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #ffffff; /* couleur de la ligne */
  transition: width 0.3s ease;
}

.nav-links1 a:hover::after{
  width: 100%;
}
