video{
    width: 100%;
    height: auto;
    filter:brightness(20%);
    position:relative;
}
.looptext{
    position: absolute;
    color:white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 40px;
}
h1{
    text-align: center;
    margin-top: 50px;
    font-size: auto;
}
h2{
    text-align: center;
    margin-top: 20px;
    font-size: 0.7em;
}
.looptext button{
    color:white;
    background:#FF9F38;
    border-radius:20px;
    padding: 20px 50px;
    font-size: 0.5em;
    margin:0 10em;
    border:none;
}
/*fin de la section video*/
.shol{
    position: relative;
    text-align: center;
    font-size: 30px;
    
}

.shol::after{
    content: "";
    position: absolute;
    margin-left:700px;
    left: 0;
    align-items: center;
    bottom: -10px;
    width: 8%;
    height: 4px;
    background: #FF9F38;
    border-radius: 30px;
}
.maining{
    display: flex;
    justify-content: space-between;
    margin:10px;
}
.muph{
    width:40em;
    height: 40em;
}
.lineOne button{
  color:white;
    background:#FF9F38;
    border-radius:20px;
    padding: 20px 50px;
    font-size: 1.2em;
    margin:0;
    border:none;
}
section{
    display: flex;
    justify-content: center;
    margin: 70px;
    gap:100px;
}

.boxOne{
    width: 15em;
    height: 17em;
    background: #1E3A8A;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    margin:10px;
    color:white;
}
.main-box{
    display: flex;
    justify-content: center;
    background:#1E3A8A;
    color:white;
    padding:2em 0;
}
.hand{
    width: 40em;
    height: 20em;
    
}
.textaligne{
    font-size:16px;
    margin:10px;
}
.main-box button{
    color:white;
    background:#FF9F38;
    border-radius:20px;
    padding: 20px 50px;
    font-size: 1.2em;
    margin:30px;
    border:none;
    
}

.contact{
  display: flex;
  justify-content: center;
  gap: 60px;
  padding: 80px;
}

/* LEFT SIDE */
.left{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.card{
  background: #e9e4e4;
  padding: 30px;
  width: 350px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.card h4{
  margin: 0;
  font-size: 20px;
}

.card p{
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

.contact-btn{
  margin-top: 20px;
  padding: 15px;
  border: none;
  border-radius: 30px;
  background: #f7931e;
  color: white;
  font-size: 16px;
  cursor: pointer;
  width: 250px;
}

.contact-btn:hover{
  background: #e67e00;
}

/* RIGHT SIDE */
.right{
  background: #2f4a92;
  padding: 50px;
  border-radius: 20px;
  width: 500px;
  color: white;
}

.right form{
  display: flex;
  flex-direction: column;
}

.right label{
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: bold;
}

.right input,
.right textarea{
  padding: 15px;
  border: none;
  border-radius: 5px;
  background: #e5e5e5;
}

.right textarea{
  height: 120px;
  resize: none;
}

/*--le foother--*/
footer{
    background: #1E3A8A;
    color:white;
   
}
.logo-footer{
    width: 100px;
    height: 100px;
    margin:30px;
    border-radius:300px;
}
.main-footer a{
    position:relative;
    display:flex;
    color:white;
    margin:30px 50px;
    text-decoration:none;
}
.main-footer{
    position:relative;
}
.socialmedia img{
    width:40px;
    height:40px;
    margin:10px;
}
.main-footer h1{
    position:absolute;
    top:10px;
}
